/*
NORMAL:
border-color: #999999ff;
background-color: #222222cc;
HOVER:
border-color: #aaaaaaff;
background-color: #333333ff;
*/

.border {
	border-color: #999999ff;
	border-width:1px;
}

button, .button, input, select, option {
	border-color: #999999ff;
	border-width:1px;
	background-color: #222222cc;
	margin-left: 4px;
	margin-right: 4px;
}

option {
	padding: 2px;
	margin:0;
	border-top-width:0;
}

button:hover , .button:hover , input:hover , select:hover, option:hover, .hover:hover{
	border-color: #aaaaaaff;
	background-color: #333333cc;
}

.window {
	border-color: #999999ff;
	background-color: #111111aa;
}

.bg{
	border-color: #999999ff;
	background-color: #222222aa;
}

.bglight {
	border-color: #999999ff;
	background-color: #333333aa;
}

hr
{
	border-color:#eeeeeeff;
}

slidertrack, sliderbar {
	border-color: #222222ff;
}

sliderbar {
	background-color: #666666ff;
}